@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background: #e9edf0;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #005f73;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.app-name {
    font-size: 2rem;
    color: #fff;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    text-align: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.right-section {
    display: flex;
    align-items: center;
}

#welcomeMessage {
    margin-right: 20px;
}

/* Button Styles */
button {
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

#logoutButton {
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #EF476F;
}

#logoutButton:hover {
    background-color: #FF6F91;
}

/* Login Modal Styles */
.login-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.login-box-header {
    font-size: 24px;
    color: #005f73;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
}

.login-box-team-name {
    font-size: 20px;
    color: #005f73;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-box-caption {
    color: #555;
    font-style: italic;
    margin-bottom: 25px;
    font-size: 16px;
}

.login-box input[type="text"] {
    width: calc(100% - 20px); /* Adjust width to fit within padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #005f73;
}

.login-box .caption {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

#app {
    filter: blur(0);
    transition: filter 0.3s;
}

/* Search Container Styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
}

input#searchBar, button#searchButton {
    padding: 0.75rem 1rem;
    margin: 0 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    outline: none;
}

input#searchBar {
    flex-grow: 1;
    border: 2px solid #005f73; /* To match the header color */
}

button#searchButton {
    background: #005f73;
    color: white;
    border: none;
    cursor: pointer;
}

button#searchButton:hover {
    background: #004953;
}

/* University List Styles */
.university-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.university-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: calc(33% - 2rem);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.university-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.university-logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
}

.university-name {
    font-size: 1.2rem;
    text-align: center;
}

.university-details {
    display: none;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: auto;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
}

.chart-container,
.keywords-section,
.score-container,
.personalized-recommendations {
    background: #e9edf0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
    max-height: 400px; /* Adjusted height */
    overflow: hidden;
}
.keywords-container,
.score-container {
    width: 100%; /* Full width within grid */
}
.keywords-container ul,
.score-container ul,
.personalized-recommendations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.keywords-container, .score-container, .personalized-recommendations {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.keywords-section h3 {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px 0;
    margin-top: -10px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.keywords-container, .score-container, .personalized-recommendations {
    margin-top: 10px;
}

.keywords-section {
    display: flex;
    gap: 10px;
}

.keywords-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.keywords-container li {
    background: #f0f4f8;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .header-content, .modal-content, .login-box {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .university-card {
        width: calc(50% - 1rem);
    }

    .chart-container {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .university-card, .modal-content, .login-box {
        width: 100%;
    }

    .chart-container {
        max-height: 250px;
    }
}

/* Close Button Styles */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}
/* Score Container Styles */
.score-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}

/* Personalized Recommendations Styles */
.personalized-recommendations {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/* Personalized Recommendation Cards */
.personalized-recommendations ul {
    list-style: none;
    padding: 0;
}

.personalized-recommendations li {
    background: #e4e4e4;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Chart Container Styles */
.chart-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow: hidden;
    margin-top: 10px;
}

/* Keywords Container Styles */
.keywords-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.keywords-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.keywords-container li {
    background: #f0f4f8;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

